#bodySSB {
  font-family: 'Roboto', Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #484848;
  line-height: 1.43;

  #ModalBodyContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: white;
    vertical-align: middle;
    overflow: auto;
    max-height: 100vh;
    

      #FlexContainer {
        display: flex;
        justify-content: center;

          #TopBar {
            height: 64px;
            width: 100%;
            position: fixed;
            z-index: 12;
            background-color: white;
            border-bottom: 1px solid rgb(228, 228, 228);
              #BackButton {
                cursor: pointer;
                background-color: transparent;
                color: buttontext;
                display: block;
                border-width: 0px;
                border-style: initial;
                border-color: initial;
                border-image: initial;
                padding-left: 1em;
                padding-top: 1.5em;
                  #BackButtonImg {
                    height: 22px;
                    width: 22px;
                    display: block;
                    fill: rgb(72, 72, 72);
                  }
              }
          }
          #ModalContainer {
            position: absolute;
            background-color: white;
            width: 664px;
            top: 64px;
            bottom: 0px;
              #ContainerSSB {
                width: 664px;
                padding-top: 42px;
                  .HeaderSSB {
                    font-size: 32px;
                    line-height: 36px;
                    letter-spacing: normal;
                    font-weight: 800;
                    color: rgb(72, 72, 72);
                    padding-top: 6px;
                      .DescriptionSSB {
                        font-size: 16px;
                        font-weight: 400;
                        padding-bottom: 32px;
                        margin-top: 8px;
                      }
                  }
                  .CategoryContainerSSB {
                    padding-bottom: 32px;
                      .AmenitySSB {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        border-top: 1px solid rgb(228, 228, 228);
                        font-size: 16px;
                        font-weight: 500;
                        color: #484848;
                          .NameWrapperSSB {
                            padding-top: 12px;
                          }
                          .ImgSSB {
                            width: 64px;
                            height: 64px;
                            max-width: 64px;
                            max-height: 64px;
                          }
                      }
                  }
              }
          }
      }

  }

    #PageContainerSSB {
      width: 1265px;
      margin: auto auto 3em auto;
      padding-top: 2rem;
      
        #AmenitiesTitleSSB {
          font-weight: 800;
          font-size: 36px;
          line-height: 40px;
        }
        #AmenitiesDescriptionSSB {
          font-weight: 400;
          font-size: 16px;
          line-height: 1.375em;
          word-wrap: break-word;
          margin-top: 1em;
        }
        #RowsWrapper {
          padding-top: 2.5rem;
          padding-bottom: 2.5rem;
            #RowWrapper1 {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              padding-top: 1em;
            }
            #RowWrapper2 {
              padding-top: 1em;
              display: flex;
            }
            #Amenity1Wrapper {
              margin-right: .5em;
            }
            #AmenityWrapper {
              margin-left: .6em;
              margin-right: .6em;
            }
            .ImgWrapperSSB {
              height: 225px;
              width: 197px;
              display: flex;
              background-color: #F2F2F2;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
            
                .ImgSSB {
                  height: 65%;
                  width: 100%;
                }
                .ImgDescriptionSSB {
                  font-size: 16px;
                  font-weight: 400;
                  margin-bottom: 2em;
                }
            }
        }
    }
    #ButtonWrapperSSB {
      margin: 0px;
      word-wrap: break-word;
      font-size: 16px;
      font-weight: 600;
      padding-top: 1rem;
        #ButtonSSB {
          color: var(--color-brand-plus, #914669);
          background: transparent;
          border: 0px;
          cursor: pointer;
          margin: 0px;
          padding: 0px;
          user-select: auto;
          text-align: left;
          &:hover {
            text-decoration: underline;
          }
        }
    }
}





  



  


  



  



  



  




  





